* {
	margin:0px;
	padding:0px;
}

#wrapper {
	width: 1024px;
	margin:auto;
}

header {
	width: 1000%;
	background-color: #00adef;
	overflow: auto;
}

#logo {
	float:left;
}

    .pesquisa{
        background-color: white;
    }
    form{
        float: left;
        background-color: white;
        padding: 0px 3px 0px 0px;
        border-radius: 4px;
        margin-left: 20px;
        position: relative;
        top: 10px;
    }
    #pesquisa {
        width: 550px;
        padding: 13px;
        border: none;
        outline: none;
        border-radius: 4px;
    }
    #btnPesquisar {
        background-color: #00ADEF;
        border: none;
        padding: 10px;
        outline: none;
        border-radius: 4px;
    }
    .login{
        padding: 8px;
        float: left;
    }
    .login > span{
        display: block;
        color: white;
    }
    .login > .cima{
        font-size: 20px;
    }
    .login > .baixo{
        font-size: 14px;
    }