/**
* @Autor: Antonio José;
* @Email: antoniojose@alu.ufc.br;
* @Matricula: 0335935;
* @Curso: Sistemas da Informação;
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin:0px;
	padding:0px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 80%;
	margin:auto;
}

header {
	background-color: #00adef;
	overflow: auto;
}

#logo {
	float:left;
}

.iconBranco {
	color:#FFF;
	font-size:1.1em;
}

.usuario {
	float:left;
	color:#FFF;
	margin-top:10px;
	font-size:2em;
}

.carrinho {
	float:left;
	color:#FFF;
	margin-top:10px;
	font-size:2em;
	margin-left:35px;
}

.lista {
	display:inline;
}

.pesquisa{
	background-color: white;
}

#frmPesquisa{
        float: left;
        background-color: white;
        padding: 0px 3px 0px 0px;
        border-radius: 4px;
        margin-left: 20px;
        position: relative;
        top: 10px;
}

#pesquisa {
        width: 550px;
        padding: 13px;
        border: none;
        outline: none;
        border-radius: 4px;
}

#btnPesquisar {
        background-color: #00ADEF;
        border: none;
        padding: 10px;
        outline: none;
        border-radius: 4px;
}

.login{
        padding: 8px;
        float: left;
}

.login > span{
        display: block;
        color: white;
}

.login > .cima{
        font-size: 20px;
}

.login > .baixo{
    font-size: 14px;
}

.ancora {
	color:#000;
	text-decoration: none;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	font-size:.9em;
}

nav {
	padding-top:10px;
	padding-bottom:10px;
}

#barraMenus {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.18);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.18);
}

.corVermelho {
	color:red;
}


.ancora:first-child {
	font-weight: bold;
	color:#00adef;
}

#barraNewsletter {
	padding-top:10px;
	padding-bottom: 10px;
	background-color: #00adef;
	height: 100px;
}

#painelNewsletters {
	margin-left: 120px;
}

#cmpEmail {
	float:left;
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    width: 350px;
	border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 1.42857;
}


#frase1,#frase2,#areaForm{
	color:#FFF;
	padding-top:4px;
	font-weight: bold;
	display: inline-block;
}

.btn {
	float:left;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0;
    color: #fff;
    background-color: #40cd28;
    border-color: #40cd28;
}

#slide { 
	width: 80%; 
	overflow: hidden; 
	height: 300px;
	margin: 50px auto;
	box-shadow: 0 0 8px #000;
	position: relative;
}
	
#slide img {
	position: absolute;
	z-index: 1;
	display: none;
	left: 0;
}

.btn-slider {
	position: absolute; 
	z-index: 2;
	padding: 10px; 
	font-size: 14px; 
	background-color:rgba(255,255,255,.0);
	box-shadow: 0 0 0px #000;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.btn-slider:hover {
	background-color:rgba(255,255,255,.8);
	box-shadow: 0 0 8px #000;
}

.texto {color:#000;font-weight: bold;}

#btnPrev {
	float:left;
	position: relative;
	left:150px;
	top:-220px;
}

#btnNext {
	float:right;
	position: relative;
	left:-150px;
	top:-220px;
}


#chamadaClienteAderir {
	height: 70px;
	padding-top:20px;
	overflow: auto;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.18);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.18);
}

#boxClienteAderir {
	text-align: center;
}


#ofertas {
	overflow: auto;
}

#textoChamativo, #btnEntrar, #btnCadastro {
	float:left;
}

#btnEntrar, #btnCadastro {
	margin-left:30px;
}

.boxProduto {
	text-align: center;
	margin-top:20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 19%;
	float:left;
	border-right: 1px solid #cecece;
}

.boxProduto:first-child {
	border-left: 1px solid #cecece;
}

.listaClassificacao {
	padding:10px;
}

.listaClassificacao li {
	display:inline;
	list-style-type: none;
}

.estrela {
	font-size: 12px;
}

.estrelaLaranja {color:orange;}
.estrelaCinza {color:gray;}

.h5title {
	text-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.18);
	color:#666666;
}

.h5title:hover {
	color:#00adef;

}

.qtdOfertas {
	font-size: .8em;
}
.money {
	font-size: 1.7em;
}